<?xml version="1.0"?>
<config>
  <modules>
    <Wp_WhitePages>
      <version>1.1.0</version>
    </Wp_WhitePages>
  </modules>
  <frontend>
    <routers>
      <whitePages>
        <use>standard</use>
        <args>
          <module>Wp_WhitePages</module>
          <frontName>wp</frontName>
        </args>
      </whitePages>
    </routers>
    <layout>
      <updates>
        <whitePages>
          <file>whitePages.xml</file>
        </whitePages>
      </updates>
    </layout>
    <translate>
      <modules>
        <Wp_WhitePages>
          <files>
            <default>Wp_WhitePages.csv</default>
          </files>
        </Wp_WhitePages>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <wp>
        <use>admin</use>
        <args>
          <module>Wp_WhitePages</module>
          <frontName>wp</frontName>
        </args>
      </wp>
    </routers>
  </admin>
  <adminhtml>
    <translate>
      <modules>
        <Wp_WhitePages>
          <files>
            <default>Wp_WhitePages.csv</default>
          </files>
        </Wp_WhitePages>
      </modules>
    </translate>
    <menu>
      <system translate="title" module="adminhtml"/>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <whitePages_configuration>
                      <title>White Pages</title>
                    </whitePages_configuration>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <whitePages>
          <file>whitePages.xml</file>
        </whitePages>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <whitePages>
        <class>Wp_WhitePages_Model</class>
        <resourceModel>whitePages_mysql4</resourceModel>
      </whitePages>
      <whitePages_mysql4>
        <class>Wp_WhitePages_Model_Mysql4</class>
        <entities>
          <matchScore>
            <table>wp_match_score</table>
          </matchScore>
        </entities>
      </whitePages_mysql4>
    </models>
    <resources>
      <whitePages_setup>
        <setup>
          <module>Wp_WhitePages</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </whitePages_setup>
      <whitePages_write>
        <connection>
          <use>core_write</use>
        </connection>
      </whitePages_write>
      <whitePages_read>
        <connection>
          <use>core_read</use>
        </connection>
      </whitePages_read>
    </resources>
    <blocks>
      <whitePages>
        <class>Wp_WhitePages_Block</class>
      </whitePages>
    </blocks>
    <helpers>
      <whitePages>
        <class>Wp_WhitePages_Helper</class>
      </whitePages>
    </helpers>
    <events>
      <sales_order_place_before>
        <observers>
          <get_order_match_score>
            <type>singleton</type>
            <class>Wp_WhitePages_Model_Observer</class>
            <method>getOrderMatchScore</method>
          </get_order_match_score>
        </observers>
      </sales_order_place_before>
      <sales_order_save_commit_after>
        <observers>
          <set_order_item_cost>
            <type>singleton</type>
            <class>Wp_WhitePages_Model_Observer</class>
            <method>setOrderMatchScore</method>
          </set_order_item_cost>
        </observers>
      </sales_order_save_commit_after>
      <core_block_abstract_prepare_layout_before>
           <observers>
               <customgrid_column_append>
                   <type>model</type>
                   <class>Wp_WhitePages_Model_Observer</class>
                   <method>orderGridAddMatchScore</method>
               </customgrid_column_append>
           </observers>
       </core_block_abstract_prepare_layout_before>
      <adminhtml_block_html_before>
           <observers>
               <customgrid_column_append>
                   <type>model</type>
                   <class>Wp_WhitePages_Model_Observer</class>
                   <method>orderGridFilterCiollection</method>
               </customgrid_column_append>
           </observers>
       </adminhtml_block_html_before>
    </events>
  </global>
		<default>
			<whitePages_configuration>
				<match_score>
					<decline>0</decline>
					<message>Your order has been declined because of an issue with your billing or shipping information. Please contact us to complete your order.</message>
					<show_in_order_grid>2</show_in_order_grid>
				</match_score>
				<reverse_lookup>
					<enabled>1</enabled>
				</reverse_lookup>
			</whitePages_configuration>
		</default>
</config>
